<section class="rule-card unit-table-card unit-statline-card">
  <div class="unit-table-wrap">
    <table class="unit-stat-table {{ table_class }}">
      <thead>
        <tr>
{{ model_header_html }}
          <th scope="col">M</th>
          <th scope="col">T</th>
          <th scope="col">SV</th>
{{ invulnerable_header_html }}
          <th scope="col">W</th>
          <th scope="col">LD</th>
          <th scope="col">OC</th>
        </tr>
      </thead>
      <tbody>
{{ rows_html }}
      </tbody>
    </table>
  </div>
</section>
