  <div class="unit-weapon-group">
    <table class="unit-stat-table unit-weapon-table">
      <thead>
        <tr>
          <th scope="col">{{ title }}</th>
          <th scope="col"><span class="desktop-label">Range</span><span class="mobile-label">R</span></th>
          <th scope="col">A</th>
          <th scope="col">{{ skill_label }}</th>
          <th scope="col">S</th>
          <th scope="col">AP</th>
          <th scope="col">D</th>
        </tr>
      </thead>
      <tbody>
{{ rows_html }}
      </tbody>
    </table>
  </div>
