        <tr class="{{ row_class }}">
          <th scope="row">
            {{ mode_marker_html }}
            <span class="weapon-profile-name">{{ profile_name }}</span>
            <span class="weapon-ability-tags">{{ ability_tags_html }}</span>
          </th>
          <td data-label="R">{{ range }}</td>
          <td data-label="A">{{ attacks }}</td>
          <td data-label="{{ skill_label }}">{{ skill }}</td>
          <td data-label="S">{{ strength }}</td>
          <td data-label="AP">{{ armour_penetration }}</td>
          <td data-label="D">{{ damage }}</td>
        </tr>
